@model ModelDataUsingViewData.Models.Employee;
@{
    ViewData["Title"] = "StronglyTypedViews";
}

<h1>StronglyTypedViews</h1>

<h2>@Model.EmpId</h2>
<h2>@Model.EmpName</h2>
<h2>@Model.Designation</h2>
<h2>@Model.Salary</h2>
